@{
    ViewData["Title"] = "Palindromo";
    
}

<div class="text-center">
  
  <form action="CheckPalindromo" method="post">

      <input type="text" value="" name="palavra" id="palavra" placeholder="arara"></input>
      <button type="submit">Conferir</button>

  </form>


</div>

